<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="jumbotron">
        <h2>Refund request has been sent to customer id#{{refundId}}.</h2>
        <br>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" style="width: 50%"></div><span>50%</span>
          </div>
          <p>Refunds to credit or debit cards can take up to 30 days depending on the bank/card company involved.</p>
          <p><a class="btn btn-primary btn-lg" (click)="navigateToList()">Go to list page</a></p>
      </div>
    </div>
  </div> <!--row-->
</div><!--container-->
